@font-face {
  font-family: 'flaticon';
  src: url('./flaticon.ttf') format('truetype'),
    url('./flaticon.woff') format('woff'),
    url('./flaticon.woff2') format('woff2'),
    url('./flaticon.eot#iefix') format('embedded-opentype'),
    url('./flaticon.svg#flaticon') format('svg');
}

i[class^='flaticon-']:before,
i[class*=' flaticon-']:before,
span[class^='flaticon-']:before,
span[class*=' flaticon-']:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-award-1:before {
  content: '\f101';
}
.flaticon-award:before {
  content: '\f102';
}
.flaticon-credit-card:before {
  content: '\f103';
}
.flaticon-customer-service:before {
  content: '\f104';
}
.flaticon-delivery-truck:before {
  content: '\f105';
}
.flaticon-diamond:before {
  content: '\f106';
}
.flaticon-email:before {
  content: '\f107';
}
.flaticon-guarantee:before {
  content: '\f108';
}
.flaticon-headphones:before {
  content: '\f109';
}
.flaticon-leather-biker-jacket:before {
  content: '\f10a';
}
.flaticon-leather-chelsea-boots:before {
  content: '\f10b';
}
.flaticon-leather:before {
  content: '\f10c';
}
.flaticon-message:before {
  content: '\f10d';
}
.flaticon-money-back:before {
  content: '\f10e';
}
.flaticon-pay:before {
  content: '\f10f';
}
.flaticon-phone-call:before {
  content: '\f110';
}
.flaticon-rating:before {
  content: '\f111';
}
.flaticon-right-quote:before {
  content: '\f112';
}
.flaticon-search-1:before {
  content: '\f113';
}
.flaticon-search:before {
  content: '\f114';
}
.flaticon-security:before {
  content: '\f115';
}
.flaticon-shopping-bag:before {
  content: '\f116';
}
.flaticon-speed:before {
  content: '\f117';
}
.flaticon-support:before {
  content: '\f118';
}
.flaticon-target:before {
  content: '\f119';
}
.flaticon-team:before {
  content: '\f11a';
}
.flaticon-telephone-1:before {
  content: '\f11b';
}
.flaticon-telephone:before {
  content: '\f11c';
}
.flaticon-trophy:before {
  content: '\f11d';
}
